[Unit]
Description=Blocdev -setra N
After=multi-user.target
 
[Service]
ExecStart=/etc/init.d/blockdev-setra-sdb start
Type=simple
 
[Install]
WantedBy=multi-user.target
